---
layout: default
---

{% include headertop.txt %}
<!-- Stylesheet for doc-specific pages -->
<link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/doc.css" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/download.css" type="text/css" />
{% include headerbottom.txt %}
{% include topbar.txt %}

<div class="slider">
  <div class="container">
    <div class="row">
      <div class="span16">        
        <h1>{{ page.title }}</h1>
    </div>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="container">
    <div class="download-titles row">
      <div class="span5">
        Next version
      </div>
      <div class="span6">        
        Current version
      </div>
      <div class="span5">        
        Previous version
      </div>
    </div>

    <div class="downloads">
      <div class="download-version">
        <h2>Scala-ide 1.1.2</h2>
        <ul class="inside">
          <li>Scala 2.12</li>
          <li>Eclipse 3.8</li>
        </ul>
        <h3>Requirements</h3>
        <ul class="requirements">
          <li>JDK6 or JD7</li>
          <li>Eclipse 3.8, Eclipse 4.2 (Juno) or Eclipse 4.3 (Kepler). Read here if you have questions about the supported Eclipse packages.</li>
        </ul>
      </div>
      <div class="download-version current">
        <h2>Scala-ide 1.1.1</h2>
        <ul class="inside">
          <li>Scala 2.12</li>
          <li>Eclipse 3.8</li>
        </ul>
        <h3>Requirements</h3>
        <ul class="requirements">
          <li>JDK6 or JD7</li>
          <li>Eclipse 3.8, Eclipse 4.2 (Juno) or Eclipse 4.3 (Kepler). Read here if you have questions about the supported Eclipse packages.</li>
        </ul>
      </div>
      <div class="download-version">
        <h2>Scala-ide 1.1.0</h2>
        <ul class="inside">
          <li>Scala 2.12</li>
          <li>Eclipse 3.8</li>
        </ul>
        <h3>Requirements</h3>
        <ul class="requirements">
          <li>JDK6 or JD7</li>
          <li>Eclipse 3.8, Eclipse 4.2 (Juno) or Eclipse 4.3 (Kepler). Read here if you have questions about the supported Eclipse packages.</li>
        </ul>
      </div>
    </div>

    <div class="downloads buttons win">
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/win">Download</a>
        <p class="system">Windows</p>
      </div>
      <div class="download-version current">
        <a class="button" href="http://scala-ide.org/download/win">Download</a>
        <p class="system">Windows</p>
      </div>
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/win">Download</a>
        <p class="system">Windows</p>
      </div>
    </div>
    <div class="downloads buttons mac">
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/mac">Download</a>
        <p class="system">Mac OS</p>
      </div>
      <div class="download-version current">
        <a class="button" href="http://scala-ide.org/download/mac">Download</a>
        <p class="system">Mac OS</p>
      </div>
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/mac">Download</a>
        <p class="system">Mac OS</p>
      </div>
    </div>
    <div class="downloads buttons linux">
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/linux">Download</a>
        <p class="system">Linux</p>
      </div>
      <div class="download-version current">
        <a class="button" href="http://scala-ide.org/download/linux">Download</a>
        <p class="system">Linux</p>
      </div>
      <div class="download-version">
        <a class="button" href="http://scala-ide.org/download/linux">Download</a>
        <p class="system">Linux</p>
      </div>
    </div>

    <script type="text/javascript">
      if (navigator.appVersion.indexOf("Win") != -1) {
        $(".downloads.buttons").not(".win").hide();
      }
      else if (navigator.appVersion.indexOf("Mac") != -1) {
        $(".downloads.buttons").not(".mac").hide();
      }
      else if (navigator.appVersion.indexOf("Linux") != -1) {
        $(".downloads.buttons").not(".linux").hide();
      }
    </script>

    <hr class="limit"/>

    <div class="row">
      <div class="span11">        
        {{ content }}
    </div>
      <div class="span5">        
    </div>  
    </div>
  </div>
</div>


{% include footer.txt %}
