---
layout: default
---

{% include headertop.txt %}
<!-- Stylesheet for doc-specific pages -->
<link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/doc.css" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/download.css" type="text/css" />
{% include headerbottom.txt %}
{% include topbar.txt %}

<div class="slider">
  <div class="container">
    <div class="row">
      <div class="span16">        
        <h1>{{ page.title }}</h1>
    </div>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="container">


    <div class="download-titles row">
      <div class="span5">
        Next version
      </div>
      <div class="span6">        
        Current version
      </div>
      <div class="span5">        
        Previous version
      </div>
    </div>


    <div class="downloads">
    {% for version in page.versions %}
      <div class="download-version {{ version[0] }}">
        <h2>{{ version[1].title }}</h2>
        <ul class="inside">
          <li>{{ version[1].scala }}</li>
          <li>{{ version[1].eclipse }}</li>
        </ul>
        <h3>Requirements</h3>
        <ul class="requirements">
        {% for requirement in version[1].requirements %}
          <li>{{ requirement }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>

    <div class="downloads buttons">
    {% for version in page.versions %}
      <div class="download-version {{ version[0] }}">
        {% for download in version[1].downloads %}
          <div class="download-system {{ download[0]  }}">
            <a class="button" href="{{ download[1] }}">Download</a>
            <p class="system">
              {% if download[0] == "win" %}
                Windows
              {% elsif download[0] == "mac" %}
                Mac OS
              {% else %}
                Linux
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>

    <script type="text/javascript">
      if (navigator.appVersion.indexOf("Win") != -1) {
        $(".download-system").not(".win").hide();
      }
      else if (navigator.appVersion.indexOf("Mac") != -1) {
        $(".download-system").not(".mac").hide();
      }
      else if (navigator.appVersion.indexOf("Linux") != -1) {
        $(".download-system").not(".linux").hide();
      }
    </script>

    <hr class="limit"/>

    <div class="row">
      <div class="span11">        
        {{ content }}
    </div>
      <div class="span5">        
    </div>  
    </div>
  </div>
</div>


{% include footer.txt %}
